*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
body{
	font-family: "Nunito", sans-serif;
	/*background: url(bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 500vh;
	background-size: 106%;*/
}

.travel-pkg-section{
	padding-bottom: 2rem;
	/*margin-top: 58rem;
	opacity: .5;*/
}
.travel-pkg-section .travel-pkg-row{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.travel-pkg-col{
}

figure{
	position: relative;
	overflow: hidden;
	height: 37.6rem;
}
figure:after{
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .5030345927) 30%, rgba(251, 251, 251, 0) 50%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, 0.9) 100%)
}
figure img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

figcaption,.explore-btn-sec{
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 2.5rem;
	overflow: hidden;
	/*display: grid;
	place-content: flex-end;
	justify-content: start;*/
}
.inner{
	  transform: translateY(24.7rem);
	  transition: transform 0.35s;
	  overflow: hidden;
}

h2{color: #fff;font-size: 2.2rem;line-height: 1;font-weight: 500;}
h2 span{
	color: #28d522;
	display: block;
	font-size: 3.4rem;
	font-weight: 700;
}

p{
	font-size: 1.1rem;
	color: #fff;
	margin-bottom: 2.5rem;
	margin-top: .5rem;
}

.explore-btn-sec{
	display: grid;
	place-content: end;
}
.explore-btn{
	margin: 0;
	transform: translate(260%,-1.2rem);
	transition: transform 0.35s;
}

/*figure:hover figcaption{
	place-content: start;
}*/
figure:hover .inner{
	transform: translateY(0%);
	transition: transform 0.35s;
}
figure:hover .explore-btn{
	transform: translate(-42%,-1.2rem);
	transition: transform 0.35s;
}